/* Typografi */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
}

/* Variabler*/

:root {
    /* Farver */

    --primaryPurple: 115, 64, 96, 1;
    --darkPurple: 115, 64, 96, 1;
    --mediumDarkPurple: 224, 193, 217, 1;
    --mediumPurple: 246, 237, 244, 1;
    --lightPurple: 250, 245, 249, 1;
    --primaryOrange: 250, 197, 79, 1;
    --darkOrange: 178, 70, 11, 1;
    --mediumDarkOrange: 242, 139, 14, 1;
    --mediumOrange: 251, 220, 140, 1;
    --lightOrange: 253, 238, 200, 1;
}

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather"

}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}